*, *::before, *::after { box-sizing: border-box; }


body {
  margin: 0;
  > * { padding: 8px; }
}

header {
  background-color: whitesmoke;
  border-block-end: solid;

  text-align: center;


  > img {
    inline-size: 400px;
    max-inline-size: 100%;
    max-block-size: 200px;

    object-fit: contain;
    display: inline-block;
  }
}

main {
  max-inline-size: 700px;
  margin: auto;
}


#print {
  position: sticky;
  inset-block-end: 0;


  inline-size: 100%;

  display: flex;
  &[hidden] { visibility: hidden;}
  justify-content: center;


  background-color: whitesmoke;
  border-block-start: solid;


  > button {
    font-size: 2rem;
    border-width: 5px;
  }
}


/* blockquote {
  > p {
    background-color: lightgray;
    padding: 5px;
    border-radius: 10px;
  }

  > cite {
    margin-left: 0.5in;


    &::before {
      content: "—";
    }
  }
} */


article footer {
  border: solid;
  border-radius: 10px;
  padding: 5px;

  background-color: #8fc78f;


  > :first-child { margin-block-start: 0; }
  > :last-child { margin-block-end: 0; }
}


main > * + * { margin-block-start: 3em; }