*, *::before, *::after { box-sizing: border-box; }


body {
  margin: 0;
  > * { padding: 8px; }
}

header {
  background-color: whitesmoke;
  border-block-end: solid;

  text-align: center;


  position: sticky;
  inset-block-start: 0;


  > img {
    inline-size: 340px;
    max-inline-size: 100%;
    block-size: 150px;
    max-block-size: 150px;

    object-fit: contain;
    display: inline-block;
  }
}

main {
  max-inline-size: 700px;
  margin: auto;
}